:root {
  /* font-family: "Agbalumo", sans-serif; */
  font-family: "Pacifico", cursive;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
